
.cell1 {
    background-color: navy;
}

.cell2 {
    background-color: blue;
}

.cell3 {
    background-color: cornflowerblue;
}

.email {
    background-color: cornsilk;
    
}

.nav1 {
    background-color: blue;
}

.welcome {
    color: whitesmoke;
}